@use "../global" as *;
#MO250911DENIM {
  --ratio: 1;
  --variable: calc(100vw / var(--sp-width));

  
  // sec-footer
  .sec-footer {
    padding-top: vw(183);
  }
  .sec-footer__btn {
    max-width: vw(675);
    margin-right:auto;
    margin-left:auto;
    border: 1px solid #000;
    line-height: 1;
    font-family: $check-all-font-family;
    font-size: vw(46);
    letter-spacing: 0.01em;
    padding: vw(35) vw(32);
    text-align: center;
    text-transform: uppercase;
  }
  .sec-footer__staff {
    padding-top: vw(126);
  }
  .sec-footer__staff-head {
    font-size: vw(28);
    letter-spacing: 0.2em;
    font-family: $second-font-family;
    text-transform: uppercase;
    margin-bottom: vw(30);
  }
  .sec-footer__staff-item {
    font-size: vw(25);
    line-height: 2;
    font-family: $second-font-family;
    letter-spacing: 0.02em;
  }
}